.contact-card{
    background-color: #fff;
    width: 20%;
    height: 120px;
    margin: 16px 8px;
    padding: 16px;
    border-radius: 8px;
}

.contact-avatar {
    height: 80px;
}

.contact-top {
    display: flex;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.contact-icons{
    display: flex;
    margin-top: 16px;
    width: 40%;
    justify-content: space-between;
}
.contact-icon{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
}

.contact-title{
    font-weight: 600;
}

.contact-subtitle{
    font-size: 12px;
    margin: 6px 0px;
}